@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');


*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}

:root{
    --color1: #0f8;
    --color2: #201b2c;
    --color3: #77ffc0;
    --color4:#0f8052;
    --color5:#121018;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

#cabecalho{
    background-color: #121018;
    position: sticky;
    top: 0;
    z-index: 2;
    border-bottom: 0.4px solid #0f8;
}

#cabecalho .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#cabecalho #logo{
    width: 70px;
}

#cabecalho nav li{
    display: inline-block;
}

#cabecalho nav li a{
    text-decoration: none;
    color:#0f8;
    display: block;
    padding: 15px 30px;
    transition: all 0.3s linear;
}

#cabecalho nav li a:hover{
    border-radius: 50px;
    background-color: #2f2a41;
}

/*.voltar {
    display: block;
    background: var(--color5);
    padding: 8.5px;
    width: 100%;
}

.voltar a{
    background: #2f2a41 ;
    text-decoration: none;
    color: var(--color1);
    font-size: 23px;
    cursor: pointer;
    border: none;
    border-radius: 8px;
    padding: 10px;
    box-sizing: border-box;
}

.voltar a::before{
    content: "\276E";
    margin-right: 5px;
}

.voltar a:hover{
    box-shadow: 0px 0px 40px var(--color4);
}*/

/*header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    position: relative;
    max-width: 100px;

}

header .nav{
    position: sticky;
    display: flex;
}

header .nav a{
    display: inline-block;
    color: var(--color1);
    font-weight: 400;
    margin-left: 40px;
    text-decoration: none;
}*/

.main-login{
    width: 100vw;
    height: 100vh;
    background: var(--color5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.esquerda{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.esquerda h1{
    color: var(--color1);
}

.direita{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-login{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background: #1d1a27;
    border-radius: 20px;
    box-shadow: 0px 10px 40px #00000056;
}

.card-login h1{
    color: #0f8;
    font-weight: 800;
    margin: 0;
}

.juntar{
    width: 100%;
    margin: 10px 0px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.juntar input{
    width: 100%;
    border: none;
    border-radius: 8px;
    padding: 15px;
    background: #232030;
    color: #FFF;
    font-size: 12pt;
    box-shadow: 0px 10px 40px #00000056;
    outline: none;
    box-sizing: border-box;
}

.juntar label{
    color: #fff;
    margin-bottom: 10px;
}

.juntar input::placeholder{
    color: rgba(224, 224, 224, 0.863);
}

.botao-login{
    width: 100%;
    padding: 16px 0px;
    margin: 25px;
    border: none;
    border-radius: 6px;
    outline: none;
    font-weight: 900;
    letter-spacing: 2px;
    color: #121018;
    background:#0f8;
    cursor: pointer;
}

.botao-login:hover{
    box-shadow: 0px 10px 40px -12px var(--color4);
}


.img-login{
    width: 35vw;
}